.Mybtn{
    background-color: teal;
    border: 1px solid teal;
    border-radius: 12px;
    padding: 5px 15px;
    font-size: 17px;
    transition: background-color 500ms;
}
.Mybtn:hover{
    background-color: rgb(255, 165, 0);
    cursor: pointer;
}
.Mybtn__complete{
    background-color: rgba(127, 255, 0, 0.44);
}
.Mybtn__change{
    background-color: rgba(192, 192, 192, 0.82);

}
.Mybtn__remove{
    background-color: rgba(255, 69, 0, 0.66);
}